.DS_Store
node_modules
/dist


# local env files
.env.local
.env.develop
.env.*.local
.env.*.develop

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
src/logs*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
